<H3>CHARACTERS!</H3>

{{#each characters}}

<a class="btn btn-primary ms-md-2" role="button" href="/character/{{dataValues.id}}">
<h3>{{dataValues.name}}</h3>
</a>
<p>{{dataValues.class}}</p>

{{else}}

<p>You have not created any characters</p>

{{/each}}

<h1>Find Your Character</h1>

<form action="/character/search">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Find your adventurer!</label>
    <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form action="/character">
<button type="submit" class="btn btn-primary">Clear</button>
</form>