<div class="container border rounded border-0 shadow h-100">
    <div class="row h-100">
        <div class="col-12 col-lg-9">
            <div class="text-center me-lg-0 pe-lg-0 mb-lg-0" data-bs-theme="dark">
                <h1 class="text-uppercase fw-bold text-center ">Monster index</h1>
                <p class="lead text-dark-emphasis text-opacity-75 d-flex flex-column my-3">Search for the BBEG that just might wipe the party</p>
                <input type="search" class="form-control-sm" value="Monster Lookup" autofocus="" placeholder="Monster Lookup" data-bs-theme="dark">
                <input class="btn btn-primary" type="submit" style="background:var(--bs-secondary-color);color:var(--bs-secondary-bg-subtle);font-size:24px;border-radius:4px;transform:scale(0.76);overflow:hidden;">
                <p id="resultLocation" class="lead text-dark-emphasis text-opacity-75 d-flex flex-column my-3">NAME/SIZE/TYPE/ALIGNMENT</p>
            </div>
        </div>
    </div>
</div>
