<div class="container">
	<div class="row ">
		<!-- First Card -->
		<div class="col">
			<div class="container border rounded border-0 shadow h-100">
				<div
					class="col offset-lg-2 me-auto"
					<!--style="background: var(--bs-body-bg);padding-left: 484px;margin: 2px;margin-left: -596px;position: relative;overflow: auto;opacity: 0.83;filter: blur(0px) brightness(74%) saturate(95%);transition: ease;backdrop-filter: opacity(1);box-shadow: 0px 0px;border-radius: 5px;width: 754px;"--></div>
				>
					<div
						class="text-center me-lg-0 pe-lg-0 mb-lg-0"
						style="max-width: 300px;margin-bottom: 10px;padding-bottom: 25px;backdrop-filter: opacity(.5) ;opacity: 1;;--bs-body-bg: var(--bs-emphasis-color);border-radius: 5px;"
						data-bs-theme="dark"
					>
						<h1 class="text-uppercase fw-bold text-center pe-lg-0">Monster index</h1>
						<p
							class="lead text-dark text-opacity-50 d-flex flex-column my-3"
							
						>Search for the BBEG that just might wipe the party</p><input
							class="form-control-sm"
							type="search"
							value="Monster Lookup"
							style="margin-bottom: 23px;margin-top: 22px;transform: scale(1.32);padding-right: 0px;margin-right: 27px;padding-left: 18px;margin-left: 39px;border-radius: 2;border-style: solid;border-color: var(--bs-primary-bg-subtle);background: var(--bs-border-color-translucent);"
							autofocus=""
							placeholder="Monster Lookup"
							data-bs-theme="dark"
						/><input
							class="btn btn-primary"
							type="submit"
							style="background: var(--bs-secondary-color);color: var(--bs-secondary-bg-subtle);font-size: 24px;border-radius: 4px;transform: scale(0.76);overflow: hidden;"
						/>
					</div>
				</div>
			</div>
		</div>

		<!-- Second Card -->
        <div class="row">
		<div class="col">
			<div class="card pb-xl-3 pt-xl-0 mt-xl-5 ms-xl-3">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" role="tablist">
						<li class="nav-item" role="presentation"><a
								id="item-1-1-tab"
								class="nav-link active"
								role="tab"
								aria-controls="item-1-1"
								aria-selected="true"
								href="#item-1-1"
								data-bs-toggle="tab"
							>Monster Name</a></li>

					</ul>
				</div>
				<div class="card-body">
					<div id="nav-tabContent" class="tab-content">

						<div
							id="item-1-1"
							class="tab-pane fade show active"
							role="tabpanel"
							aria-labelledby="item-1-1-tab"
						>
							<h4>NAME GOES HERE</h4>
							<p id="resultLocation">NAME/SIZE/TYPE/ALIGNMENT</p><button
								class="btn btn-primary"
								type="button"
							>Button</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
